server/node_modules/
client/node_modules/
server/pnpm-lock.yaml
server/package-lock.json
client/pnpm-lock.yaml
client/package-lock.json
client/dist/
server/dist
server/.vscode/
client/.vscode/
.vscode/
server/datasets/*
db/
*.sql
docker-compose.yaml
configs/
__pycache__/
datasets/
images/
importDb.py